/* * {
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

:root {
    --taperd-degree: 80%;
}

body {
    font-family: 'Playfair Display', serif;
    background: #f0f0f0;
}

header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(4deg);
    transform-origin: bottom right;
}

h1 {
    margin: 0;
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
}

header h1 {
    position: relative;
    color: white;
}

.section-1 {
    margin-top: -2rem;
    position: relative;
    overflow: hidden;
}

.section-home {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f2d590;
    transform: skewY(4deg);
    transform-origin: top left;
    padding: 2rem 2rem;
}

.section-1 .content-home {
    padding: 3rem;
    padding-top: 5rem;
    position: relative;
}

#about .card {
    margin-top: 2rem;
    font-size: 1.2em;
}

#about .card .card-top {
    padding: 0;
    padding-top: 0.2rem;
    padding-left: 2rem;
}

#services .card .card-top {
    padding: 0;
    padding-top: 0.2rem;
    padding-left: 2rem;
}

.image-text-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container-card {
    width: 95%;
    padding-top: 4rem;
    border-radius: 20px;
    padding-bottom: 0.5rem;
    background: rgba(0, 0, 0, 0.6);
}

.container-text-1 {
    font-weight: 600;
    color: #fff;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.services-image {
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.card-heading-2 {
    margin-top: 2rem;
    margin-left: 2rem;
    color: #E67E22;
}

.cpd-img {
    margin-left: 2rem;
}

.pte {
    overflow: hidden;
}

.pte .card-header {
    height: 250px;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
}

.pte .card-header .card-header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3b182;
    transform: skewY(4deg);
    transform-origin: bottom right;
}

.pte .card-header .card-title {
    position: relative;
}

.ldp {
    overflow: hidden;
}

.ldp .card-header {
    height: 250px;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
}

.ldp .card-header .card-header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3b182;
    transform: skewY(-4deg);
    transform-origin: bottom left;
}

.ldp .card-header .card-title {
    position: relative;
}

.lpd-heading {
    color: #b04900;
}

.lpd-img {
    margin-left: 2rem;
}

.cc-2 {
    background-image: url(https://www.cpmlaw.com/wp-content/uploads/2016/12/thought-leadership-background.jpg);
}

.cc-2 p {
    font-size: 1.4em;
}

.cc-2 .spacer {
    width: 100%;
    height: 150px;
}


.glance-section .question {
    font-style: none;
    font-weight: 1000;
    font-size: 1.3em;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.glance-section p {
    font-size: 1.3em;
}

.glance-section .div-7 {
    padding-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
    .section-1 {
        margin-top: 1.5rem;
    }

    .lpd-img {
        margin-left: 0.5rem;
    }
}